

$font-stack:    Georgia, serif;
$primary-color: purple;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #E6E6FA;
}

a:link {
    color: blue;
}

a:visited {
    color: #9370DB;
}

a:hover {
    color: #D8BFD8;
}